*, *:before {
    margin: 0;
    padding: 0;
    font-family: 'Sedgwick Ave', cursive;
    position: relative;
    list-style: none;
}

body, html {
    width: 100%;
    overflow-x: hidden;
}
body {
    width: 100%;
    height: 90rem;
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
    cursor: url(img/cursor.cur), alias;
}
input {
    display: none;
}
#navegador {
    width: 100%;
    height: 6rem;
    background: white;
    border-bottom: solid black 0.25rem;
    display: block;
    float: left;
    position: fixed;
    z-index: 2;
}
img {
    width: 4rem;
    margin: 0.4rem 0 0 2rem;
    display: block;
    float: left;
}
h1 {
    display: block;
    float: left;
    font-size: 2.5rem;
    margin: 2rem;
}
.menu {
    float: right;
}
a {
    list-style: none;
    color: black;
    text-decoration: none;
    display: block;
}
.menu a {
    width: 6rem;
    height: 3.5rem;
    border: solid black 0.2rem;
    border-radius: 2rem;
    line-height: 3.5rem;
    text-align: center;
    float: left;
    margin: 1rem;
    transition: all 0.4s;
}
.menu a:hover {
    color: white;
    background-color: black;
}
.menumovil {
    display: none;
}
#contenido {
    width: 85%;
    height: auto;
    margin: auto;
}
#sobremi {
    width: 70%;
    height: 90rem;
    padding-top: 6rem;
    margin: auto;

}
h2 {
    font-size: 6rem;
    padding: 20rem 0 2rem 5%;
}
p {
    font-size: 2rem;
    width: 40rem;
    margin-left: 5%;
    margin-bottom: 20rem;
    float: left;
    display: block;
}
.persona {
    width: 25rem;
    height: 25rem;
    margin-top: -10rem;
    margin-left: 5%;
    float: left;
    display: block;
    background: url(img/persona.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.corazon {
    width: 27%;
    height: 19%;
    background: url(img/corazon.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.4s;

}
.persona:hover > .corazon {
    background: url(img/corazon_rellno.png);
    background-size: cover;
}
.corazonrelleno {
    width: 6rem;
    height: 4.45rem;
    background: url(img/corazon.png);
    background-size: cover;
    top: -10rem;
    left: 5rem;
    animation: fly 1s infinite ease-out;
    transition: all 0.4s;
}
.persona:hover > .corazonrelleno {
    background: url(img/corazon_rellno.png);
    background-size: cover;
    
}
#mipracticas {
    width: 70%;
    margin: -20rem auto 0 auto;
}
#trabajos{
    width: 70%;
    height: 150rem;
    margin: auto;
    text-align: center;
}
.practica {
    float: left;
    width: 90%;
    height: 10rem;
    border: solid black 0.3rem;
    border-radius: 2rem;
    line-height: 10rem;
    font-size: 4rem;
    text-align: center;
    margin: 1rem 5% 0 5%;
    background: white;
    z-index: 1;
    background-image: url(img/montanya.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10% center;
    transition: all 0.4s;
    color: transparent;
}
.practica:hover {
    background-color: black;
    background-image: url(img/montanya_blanco.png);
    background-size: 20%;
    background-position: left bottom;
    color: white;
    height: 20rem;
    line-height: 20rem;
}
.practica.etc:hover {
    background-image: none;
    filter: brightness(100%);
}
.practica.etc {
    background-image: none;
    color: black;
}
.flores {
    position: fixed;
    width: 10rem;
    height: 40rem;
    z-index: 2;
    top: 15rem;
}
.flores.uno {
    left: 5%;
}
.flores.dos {
    right: 5%;
}
.flor {
    width: 10rem;
    height: 10rem;
    background-image: url(img/flor01.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    animation: flor 1.5s infinite;
}
.flor.dos {
    background-image: url(img/flor02.png);
}
#contacto {
    width: 80%;
    height: 50rem;
    margin: 0 auto 0 auto;
    top: -15rem;
    padding-top: 2rem;
    z-index: -1;
    clear: both;
}
#contacto h2 {
    width: 95%;
    text-align: center;
}
.micontacto {
    width: 100%;
    height: 40rem;
    margin: auto;
    font-size: 2rem;
}
.micontacto li {
    width: 70%;
    height: 4rem;
    margin: auto;
    margin-bottom: 5rem;
    line-height: 13rem;
    text-align: center;
    overflow: visible;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.tele {
    background-image: url(img/tele.png);
}
.instagram {
    background-image: url(img/ins.png);
}
.direccion {
    background-image: url(img/direccion.png);
    background-position: 13% 0%;
}
.correo {
    background-image: url(img/mail.png);
    background-size: 40%;
}
@keyframes fly {
    0% {
        top: -6.5rem;
        left: 5rem;
        opacity: 0;
        width: 3rem;
        height: 2.225rem;
    }
    50% {
        top: -15rem;
        left: 7rem;
    }
    100% {
        top: -15rem;
        left: 5rem;
        opacity: 100%;
        width: 9rem;
        height: 6.675rem;
    }
}
@keyframes flor {
    0% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}
.arriba {
    width: 6rem;
    height: 4.5rem;
    position: fixed;
    right: 0;
    bottom: 0;
    display: inline;
    background: white;
    border: solid black 0.2rem;
    border-radius: 2rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 1.2rem;
    margin: 5rem;
    z-index: 3;
    transition: all 0.4s;
}
.arriba:hover {
    background: black;
    color: white;
}
@media screen and (max-width: 480px) {
    body {
        width: 100%;
        background-image: url(img/fondo_vertical.jpg);
        background-attachment: fixed;
    }

    #navegador {
        width: 30rem;
        height: 4rem;
        border-bottom: solid black 0.2rem;
        top: 0;
    }
    #navegador img {
        width: 3rem;
        margin-left: 1rem;
    }
    h1 {
        font-size: 1.3rem;
        bottom: 0.5rem;
    }
    .menu {
        display: none;
    }
    input {
        appearance: none;
        position: fixed;
        z-index: 10;
        top: 1rem;
        right: 1rem;
        display: block;
    }
    input:before {
        content: "— — —";
        width: 2.5rem;
        height: 2rem;
        opacity: 0.8;
        display: block;
        font-size: 2rem;
        line-height: 0.8rem;
        text-align: right;
        z-index: 3;
    }
    input:checked:before {
        content: "— — —";
        width: 2.5rem;
        height: 2rem;
        opacity: 0.8;
        display: block;
        font-size: 2rem;
        line-height: 0.8rem;
        text-align: right;
    }
    label {
        position: fixed;
        width: 100%;
        height: 22%;
        background-color: black;
        z-index: 2;
        top: -20%;
        transition: 0.8s;
    }
    .menumovil {
        width: 70%;
        font-size: 1.5rem;
        line-height: 3rem;
        margin: 17% auto 0 auto;
        text-align: center;
        display: block;
    }
    .menumovil a {
        color: white;

    }
    .menumovil a:active ~ label{
        right: -50%;
    }
    input:checked ~ label {
        top: 0;
    }
    #contenido {
        width: 100%;
        height: 200rem;
    }
    .flores {
        left: 0;
        width: 5rem;
        top: 20%;
    }
    .flores.dos {
        left: 78%;
    }
    .flor {
        width: 5rem;
    }
    #sobremi {
        width: 60%;
        padding-top: 0rem;
        top: -10rem;
    }
    .persona{
        width: 10rem;
        height: 10rem;
        top: -5rem;
        left: 4rem;
    }
    .corazonrelleno {
        width: 3rem;
        height: 2.225rem;
    }
    @keyframes fly {
        0% {
            top: -2.5rem;
            left: 5rem;
            opacity: 0;
            width: 3rem;
            height: 2.225rem;
        }
        50% {
            top: -5rem;
            left: 7rem;
        }
        100% {
            top: -7rem;
            left: 5rem;
            opacity: 100%;
            width: 3rem;
            height: 2.225rem;
        }
    }    
    #sobremi p {
        width: 100%;
        font-size: 1rem;
    }
    #trabajos {
        width: 60%;
        top: -45rem;
    }
    
    .practica {
        border: solid black 0.2rem;
        font-size: 2rem;
    }
    h2 {
        font-size: 3rem;
    }
    #mipracticas {
        top: -45rem;
        width: 60%;
    }
    #contacto {
        top: -90rem;
        height: 20rem;
    }
    .micontacto {
        font-size: 1rem;
    }
    .micontacto li {
        width: 70%;
        height: 2rem;
        line-height: 10rem;
        top: -2rem;
    }
}