* {
    margin: 0;
    color: #ccc;
    font-family: helvetica, sans-serif;
}
body {
    position: relative;
    background-color: rgb(30, 30, 30);
}
.navegador{
    width: 100%;
    height: 3.125rem;
    background-image: url(../img/quasinegre.png);
    background-size: cover;
    position: fixed;
    z-index: 1;
} 
.logo {
    height: 2.5rem;
    width: 3.125rem;
    margin:0.3125rem 0 0 1.25rem;
    border-radius: 0;
}
.logo:hover {
    opacity: 100%;
}
li {
    float: left;
    list-style: none;
    margin-left:0.3125rem;
}
li:hover {
    color: #fff;
    text-decoration: underline solid 0.125rem #fff;
}
.classificacion {
    font-size: 1.5625rem;
    margin: -2.1875rem 0 0 3.125rem;
}
.social {
    float: right;
    margin-right: 1.25rem;
}
.contenido {
    padding-top: 3.75rem;
    margin-left: 1.25rem;
}
.ficha {
    float: left;
    width: 10.9375rem;
    margin: 0.625rem;
}
h1 {
    clear: both;
    font-size: 1.375rem;
    color: #fff;
}
#pvistes img, #svistes img {
    filter: grayscale(100%);
}
img {
    width: 10.9375rem;
    height: 17.5rem;
    margin-bottom: 0.625rem;
    border-radius: 0.5rem;
}
img:hover {
    opacity: 50%;
}
h2 {
    font-size: 0.875rem;
    margin-bottom: 0.625rem;
}
h3 {
    font-size: 0.6075rem;
    float: left;
}
.tipo {
    float: right;
}