.petals {
    width: 100px;
    height: 100px;
    background-color: pink;
    border-radius: 20% 100%;
    position: relative;
    top: 100px;
    left: 100px;
    transform-origin: right bottom;
}
#primer {

}
#segon {
    top: 0px;
    transform: rotate(60deg);
}
#tercer {
    top: -100px;
    transform: rotate(120deg);
}
#quart {
    top: -200px;
    transform: rotate(180deg);
}
#cinque {
    top: -300px;
    transform: rotate(-120deg);
}
#sise {
    top: -400px;
    transform: rotate(-60deg);
}
.cor {
    width: 50px;
    height: 50px;
    background-color: orangered;
    border-radius: 50%;
    position: relative;
    top: -425px;
    left: 175px;
}
.flor {
    width: 400px;
    height: 400px;
    float: left;
}
.flor:first-child {
    animation: rotacio 2s infinite linear reverse;
}
.flor:hover {
    animation: rotacio 2s infinite linear reverse;
}
.flor:nth-child(3):checked{
    animation: rotacio 2s infinite linear reverse;
}

@keyframes rotacio {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}